<p>Previous searches:</p>
<ul>
  <% current_visitor.searches.last(5).reverse.each do |search| %>
    <li><%= search.query %></li>
  <% end %>
</ul>
<h2>History</h2>
<p>Then length of searches: <%= @searches.length %></p>
<% @searches.each do |search| %>
  <div >
    <h2><%= search.query %></h2>
  </div>
<% end %>

